<ion-view title="About" class="my-header">	
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	 
	
	<ion-content has-bouncing="false" class="player has-header padding" style="top:0;"><!--class=" padding" -->
	<br><br>
	<div  class="item item-image albumArt" style="border-radius:30%;" >
				
		<img src="img/colorbox.png">
			
	</div>	
	<div style="text-align:center;">
	<h2><a href="http://www.colorboxbd.com" style="color:white; ">www.colorboxbd.com </a></h2>
	</div>
		
	</ion-content>
</ion-view>